#login-screen, #main-chat-screen {
  padding-top: 10px;
}
.main {
  padding-top: 10px;
  text-align: center;
}
#conversation {
  font-size: 18px;
  margin: 0px;
  height: 300px;
  overflow: scroll;
}
.final {
  font-color: #000;
}
.interim {
  font-color: #f00;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}